doctype html
html(lang="en")
  head
    title= pageTitle
    link(rel="stylesheet", href="../dist/flex_e_ble.css")
    link(rel="stylesheet", href="../dist/docs.css")
    
  body
    .row.row-center
      .grid-6.pad.demo.bgd-1 .row-center > .grid-6

    .row.row-right
      .grid-10.demo.bgd-2.pad .row-right > .grid-10

    .row.row-around 
      .grid-4.demo.bgd-3.pad .row-around > .grid-4
      .grid-4.demo.bgd-3.pad .row-around > .grid-4
      
    .row.row-between 
      .grid-4.demo.bgd-4.pad .row-between > .grid-4
      .grid-4.demo.bgd-4.pad .row-between > .grid-4
      
    .row
      .grid-4.grid-offset-4.demo.bgd-5.pad .grid-4.grid-offset-4
      
