@mixin build-column() {
  display: inline-block;
  letter-spacing: normal;
  word-spacing: normal;
  vertical-align: top;
  text-rendering: auto;
  text-align: initial;
  box-sizing: border-box;
}

@function grid-width($n) {
  @return percentage( $n / $total-columns)
}
