.#{$NS}row {
  @include build-row();
  width: 100%;
}

.flexbox .#{$NS}row {
  @include build-flex-row();
  &.clearfix:before, &.clearfix:after {
    content: initial; // breaks flexgrid row
  }
}

[class*=#{$NS}grid-] {
  @include build-grid();
  &.#{$NS}row {
    @include build-row();
    display: inline-block;
  }
  .flexbox &.#{$NS}row {
    @include build-flex-row();
  }
}

.#{$NS}pad {
  padding-left: ($column-gutter / 2);
  padding-right: ($column-gutter / 2);
  @include media("screen", ">=small") {
    padding-left: ($column-gutter);
    padding-right: ($column-gutter);
  }
}
