@for $i from 0 through $total-columns {
  .#{$NS}#{$G}-left-#{$i} {
    margin-left: grid-size($i);
  }
}

@each $size, $breakpoint in $breakpoints {
  @include media("screen", ">=#{$breakpoint}") {
    @for $i from 0 through $total-columns {
      .#{$NS}#{$G}-#{$size}-left-#{$i} {
        margin-left: grid-size($i);
      }
    }
  }
}

@for $i from 0 through $total-columns {
  .#{$NS}#{$G}-left-#{$i} {
    margin-right: grid-size($i);
  }
}

@each $size, $breakpoint in $breakpoints {
  @include media("screen", ">=#{$breakpoint}") {
    @for $i from 0 through $total-columns {
      .#{$NS}#{$G}-#{$size}-right-#{$i} {
        margin-right: grid-size($i);
      }
    }
  }
}
