[class*='#{master-grid-name()}'] {
  @include build-grid;

  @if $auto-column-gutters {
    @include build-column-gutter;
  }

  &.row {
    @include build-row($display: inline-block);
  }
}


@for $i from $starting-columns through $total-columns {
  $local-size: grid-size($i);

  // Base grid
  .#{grid-name($i)} {
    width: $local-size;
  }

  @if not $disable-push-pull-classes {
    // Offset right
    .#{offset-right-name($i)} {
      right: auto;
      left: $local-size;
    }

    // Offset left
    .#{offset-left-name($i)} {
      right: $local-size;
      left: auto;
    }
  }
}

@each $size, $breakpoint in $breakpoints {
  @include media('#{$break-dir + $breakpoint}') {
    @for $i from $starting-columns through $total-columns {
      $local-size: grid-size($i);

      // Responsive Grid
      .#{grid-name($i, $size)} {
        width: $local-size;
      }

      @if not $disable-push-pull-classes {
        // Responsive offset right
        .#{offset-right-name($i, $size)} {
          right: auto;
          left: $local-size;
        }

        // Responsive offset left
        .#{offset-left-name($i, $size) } {
          right: $local-size;
          left: auto;
        }
      }
    }
  }
}


@if $enable-extra-grid {
  @for $i from $starting-columns through $extra-columns {
    .#{$global-name-space + $extra-grid-name + $i} {
      width: grid-size-special($i);
    }
  }


  @each $size, $breakpoint in $breakpoints {
    @include media('#{$break-dir + $breakpoint}') {
      @for $i from $starting-columns through $extra-columns {
        .#{$global-name-space + $extra-grid-name + $size + '-' + $i} {
          width: grid-size-special($i);
        }
      }
    }
  }
}
