html {
  font-family: $special-font-stack;
}

.#{$global-name-space + $row-name} {
  [class*='#{masterGridName()}'] {
    font-family: $special-font-stack;
  }
}

.#{$global-name-space + $container-name} {
  margin-right: auto;
  margin-left: auto;

  $last-breakpoint: nth(map-values($breakpoints), length($breakpoints));
  @include media('screen', '#{$break-dir + $last-breakpoint}') {
    max-width: $last-breakpoint;
  }
}
