@mixin build-row() {
  letter-spacing: -0.31em; /* Webkit: collapse white-space between units */
  *letter-spacing: normal; /* reset IE < 8 */
  *word-spacing: -0.43em; /* IE < 8: collapse white-space between units */
  text-rendering: optimizespeed; /* Webkit: fixes text-rendering: optimizeLegibility */
  box-sizing: border-box;

  display: flex;
  flex-flow: row wrap;

  display: -ms-flexbox;
  -ms-flex-flow: row wrap
}
