@for $i from 1 through $total-columns {
  $local-size: grid-size($i);

  // Base grid
  .#{$global-name-space}#{$grid-name}#{$default-grid-name}#{$i} {
    width: $local-size;
  }

  // Offset right
  .#{$global-name-space}#{$grid-name}#{$default-grid-name}#{$right-name}-#{$i} {
    margin-right: $local-size;
  }

  // Offset left
  .#{$global-name-space}#{$grid-name}#{$default-grid-name}#{$left-name}-#{$i} {
    margin-left: $local-size;
  }
}

@each $size, $breakpoint in $breakpoints {
  @include media("screen", "#{$break-dir}#{$breakpoint}") {
    @for $i from 1 through $total-columns {
      $local-size: grid-size($i);
      // Responsive Grid

      .#{$global-name-space}#{$grid-name}#{$size}-#{$i} {
        width: $local-size;
      }
        // Responsive offset right
      .#{$global-name-space}#{$grid-name}#{$size}-#{$right-name}-#{$i} {
        margin-right: $local-size;
      }
        // Responsive offset left
      .#{$global-name-space}#{$grid-name}#{$size}-#{$left-name}-#{$i} {
        margin-left: $local-size;
      }
    }
  }
}
