/// Used to calculate the width percentage
/// @name grid-size
/// @requires total-columns
/// @param {integer} $n - index of total-columns
/// @group Functions
@function grid-size($n, $total: $total-columns) {
  @return percentage($n / $total);
}

/// Used to check if string has a -
/// @name has-dash
/// @param {string} $string - string to check dash
/// @group Functions
@function has-dash($string) {
  $has-dash: $string + ''; // allow numbers
  @if $has-dash == '' { @return true; } // return itself if blank
  @return str-index($has-dash, '-') != null;
}

/// Check if string has dash else add one
/// @name has-dash
/// @param {string} $string -
/// @param {any} $position ['end'] - Where to position the dash
/// @group Functions
@function dashize($string, $position: 'end') {
  $dashized: $string;

  @if has-dash($string) { @return $dashized; }
  @if ($position == 'start') {
    @return '-' + $dashized;
  }
  @return $dashized + '-';
}

/// Returns the built up name of the grid using the global-name-space and
/// @name master-grid-name
/// @required $grid-name
/// @optional $independant-grid-name
/// @optional $global-name-space
/// @group Functions
@function master-grid-name() {
  $master-grid-name: $grid-name;

  // replace $grid-name with $independant-grid-name if available
  @if $independant-grid-name != '' { $master-grid-name: $independant-grid-name; }

  @return $global-name-space + $master-grid-name;
}

@function base-grid() {
  @return $global-name-space + dashize($grid-name);
}

@function grid-name-order($size-name, $increment) {
  @if ($column-index-always-before-size) {
    @return $increment + dashize($size-name, 'start');
  } @else {
    @return dashize($size-name) + $increment;
  }
}

@function offset-name-order($offset-name, $size-name, $increment) {
  @if ($column-index-always-before-size) {
    @return $increment + dashize($offset-name, 'start') + dashize($size-name, 'start');
  } @else {
    @return dashize($size-name) + $offset-name + '-' + $increment;
  }
}

@function grid-name($increment, $size-name: $base-grid-name) {
  @return base-grid() + grid-name-order($size-name, $increment);
}

@function offset-right-name($increment, $size-name: $base-grid-name) {
  @return base-grid() + offset-name-order($right-name, $size-name, $increment);
}

@function offset-left-name($increment, $size-name: $base-grid-name) {
  @return base-grid() + offset-name-order($left-name, $size-name, $increment);
}
