$local-dash: '' !default;

@if str-index($master-grid-name, '-') == null {
  $local-dash: '-' !default;
}



.#{$master-grid-name + $local-dash} {
  @include flexbox-enabled-class {
    &grow {
      flex-grow: 1;
    }

    &top {
      align-self: flex-start;
    }

    &middle {
      align-self: center;
    }

    &bottom {
      align-self: flex-end;
    }

    &base {
      align-self: baseline;
    }

    &stretch {
      align-self: stretch;
    }
  }
}

.#{$global-name-space + $row-name} {

  &-reverse {
    direction: rtl;
  }

  &-right {
    @include disable-if-flexbox-pure {
      text-align: right;
    }
    @include flexbox-enabled-class {
      justify-content: flex-end;
      text-align: inherit;
    }
  }

  &-center {
    @include disable-if-flexbox-pure {
      text-align: center;
    }
    @include flexbox-enabled-class {
      justify-content: center;
      text-align: inherit;
    }
  }

  &-left {
    @include disable-if-flexbox-pure {
      text-align: left;
    }
    @include flexbox-enabled-class {
      justify-content: flex-start;
      text-align: inherit;
    }
  }


  // ordering of items flow
  @include flexbox-enabled-class {

    &-top {
      align-items: flex-start;
    }

    &-middle {
      align-items: center;
    }

    &-bottom {
      align-items: flex-end;
    }

    &-base {
      align-items: baseline;
    }

    &-stretch {
      align-items: stretch;
    }

    &-between {
      justify-content: space-between;
    }

    &-around {
      justify-content: space-around;
    }
  }
}
