.#{$global-name-space}#{$grid-name} {

  &left {
    right: auto;
  }

  &right {
    left: auto;
  }
}

@if str-index($master-grid-name, '-') == null {
  $local-dash: '-';
} @else { $local-dash: ''; }


#{$flexbox-enable-class} .#{$master-grid-name}#{$local-dash} {

  &grow {
    flex-grow: 1;
  }

  &bottom {
    align-self: flex-end;
  }

  &left {
    margin-right: auto;
  }

  &right {
    margin-left: auto;
  }
}

.#{$global-name-space}#{$row-name} {

  &-right {
    text-align: right;
  }

  &-center {
    text-align: center;
  }

  &-left {
    text-align: left;
  }

  &-reverse {
    direction: rtl;
  }
}

// ordering of items flow
#{$flexbox-enable-class} .#{$global-name-space}#{$row-name} {

  &-right {
    justify-content: flex-end;
    text-align: inherit;
  }

  &-center {
    justify-content: center;
    text-align: inherit;
  }

  &-left {
    justify-content: flex-start;
    text-align: inherit;
  }

  &-bottom {
    align-content: flex-end;
  }

  &-between {
    justify-content: space-between;
  }

  &-around {
    justify-content: space-around;
  }
}
