// see http://purecss.io/grids/#using-grids-with-custom-fonts
html, button, input, select, textarea, .row [class*=grid-] {
  font-family: $special-font-stack;
}

.contain {
  max-width: 1180px;
  margin-left: auto;
  margin-right: auto;
}

.row {
  @include build-row(flex);
  width: 100%;
  &.clearfix:before, &.clearfix:after {
    content: initial; // breaks flexgrid row
  }
}

[class*=grid-] {
  @include build-column();
  &.row {
    @include build-row(flex);
  }
}

.pad {
  padding-left: ($column-gutter / 2);
  padding-right: ($column-gutter / 2);
  @include media("screen", ">=small") {
    padding-left: ($column-gutter);
    padding-right: ($column-gutter);
  }
}

.grid {

  &-grow {
    flex-grow: 1;
  }

  &-bottom {
    align-self: flex-end;
  }

  &-left {
    margin-right: auto
  }

  &-right {
    margin-left: auto
  }
}

// ordering of items flow
.row {

  &-right {
    justify-content: flex-end;
    text-align: inherit;
  }

  &-center {
    justify-content: center;
    text-align: inherit;
  }

  &-left {
    justify-content: flex-start;
    text-align: inherit;
  }

  &-bottom {
    align-content: flex-end;
  }

  &-reverse {
    direction: rtl;
  }

  &-between {
    justify-content: space-between;
  }

  &-around {
    justify-content: space-around;
  }
}

// Base grid
@for $i from 1 through $total-columns {
  .grid-#{$i} {
    width: grid-width($i);
  }
}

@each $size, $breakpoint in $breakpoints {
  @include media("screen", ">=#{$breakpoint}") {
    @for $i from 1 through $total-columns {
      .grid-#{$size}-#{$i}, .row.grid-#{$size}-#{$i} {
        width: grid-width($i);
      }
    }
  }
}

// Offsets
@for $i from 0 through $total-columns {
  .grid-offset-#{$i} {
    margin-left: grid-width($i);
  }
}

@each $size, $breakpoint in $breakpoints {
  @include media("screen", ">=#{$breakpoint}") {
    @for $i from 0 through $total-columns {
      .grid-#{$size}-offset-#{$i} {
        margin-left: grid-width($i);
      }
    }
  }
}

.grid-auto {
  width: auto;
}

@each $size, $breakpoint in $breakpoints {
  @include media("screen", ">=#{$breakpoint}") {
    .grid-#{$size}-auto, .row.grid-#{$size}-auto {
      width: auto;
    }
  }
}
