.#{master-grid-name()} {
  &grow {
    flex-grow: 1 !important;
  }

  &top {
    align-self: flex-start !important;
  }

  &middle {
    align-self: center !important;
  }

  &bottom {
    align-self: flex-end !important;
  }

  &base {
    align-self: baseline !important;
  }

  &stretch {
    align-self: stretch !important;
  }
}

.#{$global-name-space + $row-name} {

  &-column {
    flex-flow: column wrap !important;
  }

  &-reverse {
    direction: rtl !important;
  }

  &-right {
    justify-content: flex-end !important;
  }

  &-center {
    justify-content: center !important;
  }

  &-left {
    justify-content: flex-start !important;
  }

  &-top {
    align-items: flex-start !important;
  }

  &-middle {
    align-items: center !important;
  }

  &-bottom {
    align-items: flex-end !important;
  }

  &-base {
    align-items: baseline !important;
  }

  &-stretch {
    align-items: stretch !important;
  }

  &-between {
    justify-content: space-between !important;
  }

  &-around {
    justify-content: space-around !important;
  }

}
