@mixin build-row($display: block) {
  display: $display;
  position: relative;

  letter-spacing: -0.31em; // Webkit: collapse white-space between units
  text-rendering: optimizespeed; // Webkit: fixes text-rendering: optimizeLegibility
  box-sizing: border-box;
}

@mixin build-flex-row {
  display: flex;
  flex-flow: row wrap;
}

@mixin build-grid {
  display: inline-block;
  position: relative;

  letter-spacing: normal;
  text-align: $default-text-align;
  text-rendering: auto;
  word-spacing: normal;
  vertical-align: top;

  box-sizing: border-box;
}

@function grid-size($n) {
  @return percentage($n / $total-columns);
}

@function grid-size-special($n) {
  @return percentage($n / $extra-columns);
}

$smallest-size: nth(nth($breakpoints, 1), 1);

@mixin build-column-gutter {

  padding-right: ($column-gutter / 2);
  padding-left: ($column-gutter / 2);


  @include media('screen', '>=#{$smallest-size}') {
    padding-right: ($column-gutter);
    padding-left: ($column-gutter);
  }
}


@mixin disable-if-flexbox-pure {
  @if $flexbox-compatibility-enabled {
    @content;
  }
}

@mixin flexbox-enabled-class {
  @if $flexbox-enable-class != '' {
    .#{$flexbox-enable-class} & {
      @content;
    }
  } @else {
    @content;
  }
}
