@mixin build-row($display: flex) {
  display: $display;
  position: relative;
  @if ($display == 'flex') {
    flex-flow: row wrap;
  }
}

@mixin build-grid {
  display: inline-block;
  position: relative;
  text-align: $default-text-align;
  vertical-align: top;
}

@mixin build-column-gutter {

  padding-right: ($column-gutter / 2);
  padding-left: ($column-gutter / 2);


  @include media('#{$break-dir + $column-gutter-breakpoint}') {
    padding-right: ($column-gutter);
    padding-left: ($column-gutter);
  }
}

@mixin build-container {
  margin-right: auto;
  margin-left: auto;

  @include media('#{$break-dir + $container-breakpoint}') {
    max-width: $container-breakpoint;
  }
}
