@mixin build-row() {
  letter-spacing: -0.31em; /* Webkit: collapse white-space between units */
  text-rendering: optimizespeed; /* Webkit: fixes text-rendering: optimizeLegibility */
  box-sizing: border-box;
  position: relative;
  display: block;
}

@mixin build-flex-row() {
  display: flex;
  flex-flow: row wrap;

  display: -ms-flexbox;
  -ms-flex-flow: row wrap;
}

@mixin build-grid() {
  box-sizing: border-box;
  display: inline-block;
  letter-spacing: normal;
  word-spacing: normal;
  vertical-align: top;
  text-rendering: auto;
}

@function grid-size($n) {
  @return percentage( $n / $total-columns)
}

@function grid-size-special($n) {
  @return percentage( $n / $extra-columns)
}

@mixin build-column-gutter() {

  $smallest-size: nth(nth($breakpoints, 1),1);

  padding-left: ($column-gutter / 2);
  padding-right: ($column-gutter / 2);

  @include media("screen", ">=#{$smallest-size}") {
    padding-left: ($column-gutter);
    padding-right: ($column-gutter);
  }
}
