$total-columns: 12;
$column-gutter: 30px;
$special-font-stack: FreeSans, Arimo, "Droid Sans", Helvetica, Arial, sans-serif;

// Use to namespace the whole grid-system. IE 'flex-' or 'cool-'
$global-name-space: '' !default;
$NS: $global-name-space;

$breakpoints: (
  'small': 480px,
  'medium': 768px,
  'large': 1024px,
  'xlarge': 1180px
) !default;
