$total-columns: 12;

$enable-fifth-grid: false;
$special-columns: 5;

$column-gutter: 30px;
$special-font-stack: FreeSans, Arimo, "Droid Sans", Helvetica, Arial, sans-serif;

// Use to namespace the whole grid-system. IE 'flex-' or 'cool-'
$global-name-space: '' !default;
$NS: $global-name-space;

$grid-name: 'col';
$G: $grid-name;

$row-name: 'row';
$R: $row-name;

$breakpoints: (
  'sm': 480px,
  'md': 768px,
  'lg': 1024px,
  'xl': 1180px
) !default;
