@import '../../src/scss/modules/vars';

// globals
$extra-columns: 4;

@include test-module('Grid Calculations') {

  @include test('Grid size [function]') {
    $size: 3;

    $test: grid-size($size);
    $expect: 25%;

    @include assert-equal($test, $expect,
      'Must return a percentage of the total-columns based on the size');

  }

  @include test('Special grid size [function]') {
    $size: 2;
    $test: grid-size-special($size);
    $expect: 50%;

    @include assert-equal($test, $expect,
      'Must return a percentage of the special-total-columns based on the size');

  }
}
