doctype html
html(lang="en" class="flexbox")
  head
    title= pageTitle
    link(rel="stylesheet", href="flex_e_ble.css")
    link(rel="stylesheet", href="docs.css")
    script(src="js/modernizr.js")
    
  body
    h1 flex_e_ble examples
  
    .row.row-center.demo-row
      .grid-base.pad.demo.bgd-1 .row-center > .grid-6

    .row.row-right.demo-row
      .grid-10.demo.bgd-2.pad .row-right > .grid-10

    .row.row-around.demo-row
      .grid-4.demo.bgd-3.pad .row-around > .grid-4
      .grid-4.demo.bgd-3.pad .row-around > .grid-4
      
    .row.row-between.demo-row
      .grid-4.demo.bgd-4.pad .row-between > .grid-4
      .grid-4.demo.bgd-4.pad .row-between > .grid-4
      
    .row.demo-row
      .grid-4.grid-left-4.demo.bgd-5.pad .grid-4.grid-left-4
      
    .row.demo-row
      .grid-4.grid-right.demo.bgd-1.pad .grid-4.grid-right
            
    .row.demo-row
      .grid-4.demo.bgd-1.pad .grid-4
      .grid-4.demo.bgd-2.pad .grid-4
      .grid-4.demo.bgd-3.pad .grid-4
      .grid-4.grid-grow.demo.bgd-4.pad .grid-4
    
