doctype html
html(lang="en" class="flexbox")
  head
    title= pageTitle
    link(rel="stylesheet", href="flex_e_ble.css")
    link(rel="stylesheet", href="docs.css")
    script.
      window.toggleFlexbox = function(e) {
        e.preventDefault();
        var html = document.getElementsByTagName('html')[0];
        var hasFlexbox = html.className === 'flexbox';
        html.className = hasFlexbox ? '' : 'flexbox';
        e.target.textContent = hasFlexbox ? 'Toggle Compatibility - flexbox off' : 'Toggle Compatibility - flexbox on';
      }
  body
    a(href="https://github.com/jackmcpickle/flex_e_ble/" class="github-corner").
      <svg width="80" height="80" viewBox="0 0 250 250" style="fill:#151513; color:#fff; position: absolute; top: 0; border: 0; right: 0;">
        <path d="M0,0 L115,115 L130,115 L142,142 L250,250 L250,0 Z"></path>
        <path d="M128.3,109.0 C113.8,99.7 119.0,89.6 119.0,89.6 C122.0,82.7 120.5,78.6 120.5,78.6 C119.2,72.0 123.4,76.3 123.4,76.3 C127.3,80.9 125.5,87.3 125.5,87.3 C122.9,97.6 130.6,101.9 134.4,103.2" fill="currentColor" style="transform-origin: 130px 106px;" class="octo-arm"></path>
        <path d="M115.0,115.0 C114.9,115.1 118.7,116.5 119.8,115.4 L133.7,101.6 C136.9,99.2 139.9,98.4 142.2,98.6 C133.8,88.0 127.5,74.4 143.8,58.0 C148.5,53.4 154.0,51.2 159.7,51.0 C160.3,49.4 163.2,43.6 171.4,40.1 C171.4,40.1 176.1,42.5 178.8,56.2 C183.1,58.6 187.2,61.8 190.9,65.4 C194.5,69.0 197.7,73.2 200.1,77.6 C213.8,80.2 216.3,84.9 216.3,84.9 C212.7,93.1 206.9,96.0 205.4,96.6 C205.1,102.4 203.0,107.8 198.3,112.5 C181.9,128.9 168.3,122.5 157.7,114.1 C157.9,116.9 156.7,120.9 152.7,124.9 L141.0,136.5 C139.8,137.7 141.6,141.9 141.8,141.8 Z" fill="currentColor" class="octo-body"></path>
      </svg>
    
    .container
      h1.heading-1 flex_e_ble examples

      h2.heading-2 Basic - 
        em (IE8,9) Compatibility 
      button.button(onclick='toggleFlexbox(event)') Toggle Compatibility - flexbox on

      p.example Centered aligned grid with 
      
      .row.row-center.demo-row
        .grid-base.pad.demo.bgd-1 .row-center > .grid-base
        
      p.example Right aligned grids
      
      .row.row-right.demo-row
        .grid-10.demo.bgd-2.pad .row-right > .grid-10
        
      p.example Push grid to center
      
      .row.demo-row
        .grid-4.grid-right-4.demo.bgd-5.pad .grid-4.grid-right-4
        
      p.example Push and pull grid Medium
      
      .row.demo-row
        .grid-4.grid-desktop-right-6.demo.bgd-3.pad .grid-4.grid-desktop-right-6
        .grid-4.grid-desktop-left-2.demo.bgd-5.pad .grid-4.grid-desktop-left-2
        
      p.example Basic wrap.example grid
      
      .row.demo-row
        .grid-3.demo.bgd-1.pad .grid-3
        .grid-5.demo.bgd-1.pad .grid-5
        .grid-4.demo.bgd-1.pad .grid-4
        .grid-3.demo.bgd-1.pad .grid-3
        .grid-3.demo.bgd-1.pad .grid-3
        .grid-6.demo.bgd-1.pad .grid-6
        

      h2.heading-2 Advanced - 
        em (IE10,11, Chrome, Safari, Firefox) Compatibility
      
      p.example Flex grid with space-around
      
      .row.row-around.demo-row
        .grid-4.demo.bgd-3.pad .row-around > .grid-4
        .grid-4.demo.bgd-3.pad .row-around > .grid-4
        
      p.example Flex grid with space-between
      
      .row.row-between.demo-row
        .grid-4.demo.bgd-4.pad .row-between > .grid-4
        .grid-4.demo.bgd-4.pad .row-between > .grid-4

      p.example Fill gaps on flex grid 
      .row.demo-row
        .grid-4.demo.bgd-1.pad .grid-4
        .grid-4.grid-grow.demo.bgd-2.pad .grid-4.grid-grow
        .grid-6.demo.bgd-1.grid-grow.pad .grid-6.grid-grow
        .grid-4.demo.bgd-3.pad .grid-4
        .grid-4.grid-grow.demo.bgd-4.pad .grid-4.grid-grow
        
      p.example Auto spreading flex grid 
      .row.demo-row
        .grid-grow.demo.bgd-1.pad .grid-grow
        .grid-grow.demo.bgd-2.pad .grid-grow
        .grid-grow.demo.bgd-3.pad .grid-grow
        .grid-grow.demo.bgd-4.pad .grid-grow
    
