@mixin flexbox-compatibility-disable-before() {
  $flexbox-compatibility-enabled: false !global;
}


@include test-module('Flexbox') {

  @include test('Flexbox compatibility enabled [mixin]') {
    @include assert('Should output content') {
      @include output {
        @include disable-if-flexbox-pure {
          width: initial;
        }
        content: 'test1';
      }

      @include expect {
        width: initial;
        content: 'test1';
      }
    }
  }

  @include test('Flexbox compatibility disabled [mixin]') {
    @include assert('Should not output duplicate content') {
      @include output {
        @include flexbox-compatibility-disable-before;
        @include disable-if-flexbox-pure {
          content: 'test1';
        }
        content: 'test2';
      }

      @include expect {
        content: 'test2';
      }
    }
  }
}
