@import '../../src/scss/modules/vars';

@include test-module('Rows') {

  @include test('Build flexbox row [mixin]') {
    @include assert('Should output css to build flex row') {
      @include output {
        @include build-row;
      }
      @include expect {
        display: flex;
        flex-flow: row wrap;
        position: relative;
      }
    }
  }

  // Testing Mixins
  @include test('Build row with $display passed [mixin]') {
    @include assert('Should output css to build flex row with inline-block') {
      @include output {
        @include build-row($display: inline-block);
      }
      @include expect {
        display: inline-block;
        position: relative;
      }
    }
  }
}
