@import '../../src/scss/modules/vars';

@mixin grid-setup-before() {
  $default-text-align: left !global;
  $column-gutter: 15px !global;
  $special-font-stack: Arial !global;
  $break-dir: '>=' !global;
  $column-gutter-breakpoint: 320px !global;
  $container-breakpoint: 1000px !global;
}

@include test-module('Grids') {

  @include test('Build grid [mixin]') {
    @include assert('Should output css to build a grid') {
      @include output {
        @include grid-setup-before;
        @include build-grid;
      }
      @include expect {
        display: inline-block;
        position: relative;

        font-family: Arial;
        letter-spacing: normal;
        text-align: left;
        text-rendering: auto;
        vertical-align: top;
      }
    }
  }

  @include test('Build gutter [mixin]') {
    @include assert('Should output css to build a gutter') {
      @include output {
        @include grid-setup-before;
        @include build-column-gutter;
      }
      @include expect {

        padding-right: 7.5px;
        padding-left: 7.5px;

        @media (min-width: 320px) {
          padding-right: 15px;
          padding-left: 15px;
        }

      }
    }
  }

  @include test('Build container [mixin]') {
    @include assert('Should output css to build a container') {
      @include output {
        @include grid-setup-before;
        @include build-container;
      }
      @include expect {

        margin-right: auto;
        margin-left: auto;

        @media(min-width: 1000px) {
          max-width: 1000px;
        }

      }
    }
  }
}
