@mixin setup-compatible-flexbox-row-before() {
  $flexbox-compatibility-enabled: true !global;
  $flexbox-enable-class: '' !global;
}

@mixin setup-flexbox-row-before() {
  $flexbox-compatibility-enabled: false !global;
  $flexbox-enable-class: '' !global;
}

@mixin setup-row-before() {
  $flexbox-compatibility-enabled: true !global;
  $flexbox-enable-class: '.flexbox' !global;
}

@include test-module('Rows') {

  @include test('Buid flexbox row [mixin]') {
    @include assert('Should output css to build flex row') {
      @include input {
        @include setup-flexbox-row-before;
        .row {
          @include build-row;
        }
      }
      @include expect {
        .row {
          display: flex;
          flex-flow: row wrap;
          position: relative;
          letter-spacing: -0.31em;
          text-rendering: optimizespeed;
          box-sizing: border-box;
        }
      }
    }
  }

  @include test('Buid compatible flexbox row [mixin]') {
    @include assert('Should output css to build compatible flex row') {
      @include input {
        @include setup-compatible-flexbox-row-before;
        .row {
          @include build-row;
        }
      }
      @include expect {
        .row {
          display: block;
          display: flex;
          flex-flow: row wrap;
          position: relative;
          letter-spacing: -0.31em;
          text-rendering: optimizespeed;
          box-sizing: border-box;
        }
      }
    }
  }

  @include test('Buid row [mixin]') {
    @include assert('Should output css to build non flex row') {
      @include input {
        @include setup-row-before;
        .row {
          @include build-row;
        }
      }
      @include expect {
        .row {
          display: block;
          position: relative;
          letter-spacing: -0.31em;
          text-rendering: optimizespeed;
          box-sizing: border-box;
        }
      }
    }
  }

  // Testing Mixins
  @include test('Buid row with $display passed [mixin]') {
    @include assert('Should output css to build non flex row with inline-block') {
      @include input {
        @include setup-row-before;
        .row {
          @include build-row($display: inline-block);
        }
      }
      @include expect {
        .row {
          display: inline-block;
          position: relative;
          letter-spacing: -0.31em;
          text-rendering: optimizespeed;
          box-sizing: border-box;
        }
      }
    }
  }

}
