$base-bgd: #eee;
$base-color: #444;


@for $i from 1 through 5 {
  .bgd-#{$i} {
    background-color: darken($base-bgd, $i * 5);
    border: 1px solid rgba(0,0,0,0.05);
    color: $base-color;
  }
}

.heading-1 {
  color: $base-color;
  font-size: 30px;
  font-weight: 300;
}

.heading-2 {
  color: $base-color;
  font-size: 20px;
  font-weight: 300;
}

.demo {
  line-height: 50px;
}

.demo-row {
  margin-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid $base-bgd;
}

.button {
  border: 1px solid rgba(0,0,0,0.2);
  background-color: $base-color;
  color: #FFF;
  padding: 10px 20px;
  cursor: pointer;
  &:hover, &:focus, &:active {
    background-color: darken($base-color, 10%);
  }
}
