$base-bgd: #eee;
$base-color: #444;
$border-color: rgba(0, 0, 0, 0.1);
$white: #fff;

html {
  font-family: Helvetica, Arial, sans-serif;
}

@for $i from 1 through 5 {
  .bgd-#{$i} {
    border: 1px solid $border-color;
    background-color: darken($base-bgd, $i * 5);
    color: $base-color;
  }
}

.heading-1 {
  color: $base-color;
  font-size: 30px;
  font-weight: 300;
}

.heading-2 {
  margin-top: 3em;
  color: $base-color;
  font-size: 20px;
  font-weight: 300;
}

.demo {
  line-height: 50px;
}

.demo-row {
  margin: 20px 0;
}

.example {
  border-bottom: 1px solid $base-bgd;
}

.button {
  padding: 10px 20px;
  border: 1px solid $border-color;
  background-color: $base-color;
  color: $white;
  cursor: pointer;

  &:hover,
  &:focus,
  &:active {
    background-color: darken($base-color, 10%);
  }
}

.github-corner {

  &:hover {
    .octo-arm {
      animation: octocat-wave 560ms ease-in-out;

      @media (max-width: 500px) {
        animation: none;
      }

    }
  }

  @media (max-width: 500px) {
    .octo-arm {
      animation: octocat-wave 560ms ease-in-out;
    }
  }
}

@keyframes octocat-wave {
  0%,
  100% {
    transform: rotate(0);
  }

  20%,
  60% {
    transform: rotate(-25deg);
  }

  40%,
  80% {
    transform: rotate(10deg);
  }
}
