$base-bgd: #eee;
$base-color: #444;

@for $i from 1 through 5 {
  .bgd-#{$i} {
    background-color: darken($base-bgd, $i * 5);
    color: $base-color;
  }
}

h1 {font-weight: 300; color: #444}

.demo {
  line-height: 50px;
}

.demo-row {
  margin-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #eee;
}
