@mixin setup-basegrid-before {
  $global-name-space: '' !global;
  $grid-name: 'grid-'  !global;
  $base-grid-name: '' !global;
  $right-name: 'right' !global;
  $left-name: 'left' !global;
  $independant-grid-name: '' !global;
}

@include test-module('Framework base') {

  @include test('Base class names [function]') {
    @include setup-basegrid-before;
    $size: 10;

    $test: grid-name($size);
    $expect: 'grid-10';

    @include assert-equal($test, $expect,
      'Must return the correct class names for the vars');

  }

  @include test('Base class names with dashes [function]') {
    @include setup-basegrid-before;
    $size: 10;
    $size-name: 'small-';

    $test: grid-name($size, $size-name);
    $expect: 'grid-small-10';

    @include assert-equal($test, $expect,
      'Must return the correct class names for the vars');

  }

  @include test('Base grid name [function]') {
    @include setup-basegrid-before;

    $test: master-grid-name();
    $expect: 'grid-';

    @include assert-equal($test, $expect,
      'Must return the correct class names for the vars');

  }

  @include test('Base right name [function]') {
    @include setup-basegrid-before;
    $increment: 9;

    $test: offset-right-name($increment);
    $expect: 'grid-right-9';

    @include assert-equal($test, $expect,
    'Must return the correct class names for the vars');

  }

  @include test('Base left name [function]') {
    @include setup-basegrid-before;
    $increment: 6;
    $size-name: 'large';

    $test: offset-left-name($increment, $size-name);
    $expect: 'grid-large-left-6';

    @include assert-equal($test, $expect,
    'Must return the correct class names for the vars');

  }
}
